$card-content-color: #ffffff;

.cards-next-days {
  width: 180px;
  margin-left: 60px;
  color: $card-content-color;
  border: #bfd2ef ridge;
  padding-left: 10px;
  display: inline-block;
}

.card-heading {
  margin-top: 0;
}

.min-max-temperature {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 1px;
}

.icon-size {
  font-size: 40px;
  margin-left: 60px;
}
