@import "weather-icons";
@import "components/CityInput/CityInput";
@import "components/CurrentDayCard/CurrentDayCard";
@import "components/NextDayCard/NextDayCard";

body {
  font-family: 'Raleway', sans-serif;

    .clearfix {
        overflow: auto;
        clear: both;
    }

    #cards-container {
        margin-top: 150px;
    }
}


